// ======================================================
// Block Styles
// ============
.core_footer {
	border-top: 1px solid $light-grey;

	&__top_container {
		display: flex;
		justify-content: space-between;
		padding-bottom: 80px;
		padding-top: 59px;

		@include breakpoint( medium down ) {
			flex-wrap: wrap;
		}

		@include breakpoint( small down ) {
			align-items: center;
			flex-direction: column;
			padding-bottom: 33px;
			padding-top: 42px;
			text-align: center;
		}
	}

	&__column {
		@include breakpoint(large up) {
			min-width: 130px;
		}

		@include breakpoint(medium only) {
			align-items: center;
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		&:not(:last-child) {
			@include breakpoint( small down ) {
				margin-bottom: 38px;
			}
		}

		&:first-child {
			@include breakpoint( large up ) {
				max-width: 255px;
			}

			@include breakpoint( medium only ) {
				order: 1;
				margin-bottom: 53px;
				width: 45%;
			}

			@include breakpoint( small down ) {
				margin-bottom: 32px;
			}

			p {
				margin-bottom: 18px;
			}
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			@include breakpoint(medium only) {
				order: 4;
				width: 33.333%;
			}
		}

		&:last-child {
			@include breakpoint( large up ) {
				max-width: 233px;
			}
			@include breakpoint(medium only) {
				order: 2;
				margin-bottom: 53px;
				width: 40%;
			}
		}
	}

	// TOP
	// ================
	&__heading {
		color: $primary-color;
		font-weight: $weight-bold;
		font-size: 0.9375rem;
		margin-bottom: 18px;
		text-transform: uppercase;
	}

	&__link {
		color: $headings-color;
		display: block;
		font-weight: $weight-bold;
		font-size: 0.875rem;
		opacity:0.7;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:hover {
			font-weight: $weight-medium;
		}
	}

	&__description {
		p,
		& {
			color: rgba(10,8,6,0.70);
			font-weight: $weight-bold;
			font-size: 0.875rem;
			line-height: 1.5625rem;
			margin-bottom: 12px;
		}
	}

	&__button {
		color: $white;
		font-weight: $weight-bold;
		font-size: 0.9375rem;
		min-height: 44px;
		padding-left: 21px;
		padding-right: 21px;
	}

	// BOTTOM
	// ============================
	&__bottom {
		background: $headings-color;
		padding: 19px 0;
	}

	&__bottom_container {
		align-items: center;
		display: flex;
		justify-content: space-between;

		@include breakpoint( small down ) {
			align-items: center;
			flex-direction: column;
			text-align: center;
		}
	}
	
	&__copyright {
		color: rgba(255,255,255,0.80);
		font-weight: $weight-bold;
		font-size: 0.75rem;

		a {
			color: $white;
			font-weight: $weight-bold;

			&:hover {
				color: $primary-color;
			}
		}
	}

	&__bottom_links {
		align-items: center;
		display: flex;
	}

	&__bottom_link {
		color: $white;
		font-weight: $weight-bold;
		font-size: 0.75rem;
		opacity:0.8;

		&:not(:first-child) {
			margin-left: 43px;
		}
	}

	&__social_item {
		@include breakpoint( small down ) {
			font-size: 1.3rem;
		}
	}
}