<% var block = options.block %>
<%- block._editable %>

<div class="block_standard_page_detail container">
	<% if(page.data.table_of_contents) { %>
		<div class="toc">
			<h3>Table Of Contents (<a href="#" data-show-hide>Show</a>)</h3>
			<%- plugins.toc(page.data.body); %>
		</div>
	<% } %>
	<%- plugins.blocks([{
        component: '[Block] Layers',
        content: page.data.body
    }]) %>
</div>