// ======================================================
// Block Styles
// ============
.block_home_banner {
	$block: &;
	background-position: center;
	background-size: cover;
	padding: 140px 0;
	position: relative;
	overflow: hidden;

	@include breakpoint(small down) {
		padding: 60px 0;
	}

	> * {
		position: relative;
		z-index: 5;
	}

	& > iframe, & > video {
		height: 56.25vw;
	    left: 50%;
	    min-height: 100%;
	    min-width: 100%;
	    transform: translate(-50%, -50%);
	    position: absolute;
	    top: 50%;
	    width: 177.77777778vh;
	}
	
	&:after{
		background-color: $overlay;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 4;
	}

	&__container {
		@include breakpoint(small down) {
			align-items: center;
			display: flex;
			flex-direction: column;	
			text-align: center;
		}
	}

	&__heading {
		color: $white;
		text-transform: uppercase;
	}

	&__description {
		color: $white;
		max-width: 900px;
	}

	&__links {
		margin-top: 20px;
	}
}