<% var block = options.block %>
<%- block._editable %>

<div class="block_call_to_action">
	<div class="container">

		<div class="block_call_to_action__wrap block_call_to_action__wrap--<%- block.alignment || 'center' %>">

			<div class="block_call_to_action__content">

				<% if(block.heading) { %>
					<h2 class="block_call_to_action__heading">
						<%- block.heading %>
					</h2>
				<% } %>

				<% if(block.description) { %>
					<p class="block_call_to_action__description">
						<%- block.description %>
					</p>
				<% } %>
				
			</div>
			
			<% if(block.link && block.link.length) { %>
				<%- plugins.simpleLink(block.link, 'block_call_to_action__button button') %>
			<% } %>
			
		</div>
	</div>
</div>