//
// Usage :
//<div class="social_icons">
//    <a class="social_icons__item" href="#"><span class="social_icons__icon icon-facebook"></span></a>
//    <a class="social_icons__item" href="#"><span class="social_icons__icon icon-twitter"></span></a>
//    <a class="social_icons__item" href="#"><span class="social_icons__icon icon-youtube"></span></a>
//</div>
//
$linkedin_color: #0076b4;
$vimeo_color: #162221;
$instagram_color: #ed1f71;
$twitter_color: #1da1f3;
$facebook_color: #3b5898;
$envelop_color: #1fb1d9;
$whatsapp_color: #10b657;

.social_icons {
    display: flex;
    margin-top: 17px;

    @include breakpoint( small down ) {
        justify-content: center;
    }

    &__item { 
        display: flex;
        height: 1.455em;
        text-align: center;
        width: 1.455em;

        &:not(:first-child) {
            margin-left: 2px;
        }

        @include breakpoint( small down ) {
            font-size: 1.51rem;
        }
    }

    &__icon { 
        align-items: center;
        background-color: $secondary-color;
        border-radius: 1px;
        color: $white;
        display: flex;
        font-size: .72em;
        justify-content: center;
        line-height: 1; 
        height: 100%;
        width: 100%;
        @include transitions();

        &:hover {
            background-color: $primary-color;
        }
    }
}