// ======================================================
// Block Styles
// ============
.block_news_detail {
	// Your SCSS Code Here.
	padding-bottom: 60px;
	padding-top: 60px;
	@include container(800px);
}